# QEMU boot images tracked with Git LFS
Tests/vDeviceTests/qemu-images/*.ext4 filter=lfs diff=lfs merge=lfs -text
Tests/vDeviceTests/qemu-images/*.bin filter=lfs diff=lfs merge=lfs -text
Tests/vDeviceTests/qemu-images/*.img filter=lfs diff=lfs merge=lfs -text
